.process-home-div{
  width: 85vw;
  padding-bottom: 20px;
  margin: 0 auto;
  display: flex;
  justify-content:space-between;
  align-items: center;
 
}
.mobile-steps-title{
  display: none;
}
.steps-to-order{
  width: 11.6vw;
  margin: 0 auto;
  height:150px;
  padding: 10px;
 
}
.steps-design-adjustment{
  width: 60%;
}
.arrow-steps1,.arrow-steps2, .arrow-steps3, .arrow-steps4, .arrow-steps5{
  height: 55px;
  width: 55px;
}
.pink-arrow{
  width: 70%;
}
.process-para-bold{
  font-weight: bold;
  width:100%;

  margin-top: 15px;
}
.separatorr{
  display: flex;
  width: 85vw;
  margin:0 auto;
  padding: 15px 0px 15px 0px;
  align-items: center;
}
.separator-title{
  padding: 10px;
}
.separatorr h2{
  padding: 0 2rem; 
}
.separatorr .linee{
  flex: 1;
  border:1px solid black;
}

@media (min-width:768px) and (max-width:1199.98px){
  .process-home-div{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0px;
  }
    .arrow-steps3{
      display: none;
    }
    .steps-to-order{
      width: 20vw;
      margin-bottom: 20px;
    }
    .steps-design-adjustment{
      width: 45%;
    }
}
@media (min-width:575px) and (max-width:767.98px){
  .process-home-div{
    
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0px;
  }
  .arrow-steps2, .arrow-steps4{
    display: none;
  }
  .steps-to-order{
    width: 29vw;
    height: 200px;
  }
  .separatorr{
    width: 85vw;
  }
  .separator-title{
    padding: 5px;
  }
}
@media (min-width:481px) and (max-width:574.98px){
    .separatorr{
      width: 90vw;
    }
    .separator-title{
      padding: 0px 5px 0px 5px;
      font-size: 26px;
    }
    .process-home-div{
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 0px;
      width: 90vw;
    }
    .arrow-steps2, .arrow-steps4{
      display: none;
    }
    .steps-to-order{
      width: 29vw;
      height: 200px;
    }
    .steps-design-adjustment{
        width: 55%;
    }
  .slider-container-box{
    margin-top: -30px;
  }
}
@media screen and (max-width:479px){
  .process-home-div{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0px;
    width: 90vw;
  }
  .steps-to-order{
      width: 40vw;
      height: 200px;
    }
    .arrow-steps2, .arrow-steps4, .separatorr{
      display: none;
    }
    .arrow-steps1, .arrow-steps3,.arrow-steps5{
      width: 10vw;
    }
    .separator-title{
      width: 90vw;
    }
    .mobile-steps-title{
      width: 90vw;
      margin:0 auto;
      font-size: 26px;
      font-weight: bold;
      color: #3c72a3;
      border: 2px solid #3c72a3;
      margin-bottom: 40px;
    }
}