.process-home-div{
  width: 70vw;
  padding-bottom: 50px;
  margin: 0 auto;
  display: flex;
  justify-content:space-between;
  align-items: center;
 
}
.steps-to-order{
  width: 150px;
  height:150px;
  padding: 10px;
 
}
.steps-design-adjustment{
  width: 50%;
  height: 50%;
}
.arrow-steps{
  height: 55px;
  width: 55px;
}
.pink-arrow{
  width: 70%;
  height: 70%;
}
.process-para-bold{
  font-weight: bold;
  width: 150px;
  margin-top: 15px;
}
.separatorr{
  display: flex;
  width: 70vw;
  margin:0 auto;
  padding: 15px 0px 15px 0px;
  align-items: center;
}
.separatorr h2{
  padding: 0 2rem; 
}
.separatorr .linee{
  flex: 1;
  border:1px solid black;
}