/*HomeDiv css component*/
/* @media screen and (max-width:479px){
    .process-home-div{
      background: red;
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 0px;
      width: 90vw;
    }
    .steps-to-order{
        width: 29vw;
        height: 200px;
        background: blue;
      }
      .arrow-steps2, .arrow-steps4{
        display: none;
      }
} */