.process-home-div{
  width: 85vw;
  padding-bottom: 50px;
  margin: 0 auto;
  display: flex;
  justify-content:space-between;
  align-items: center;
 
}
.steps-to-order{
  width: 11.6vw;
  height:150px;
  padding: 10px;
 
}
.steps-design-adjustment{
  width: 50%;
  height: 50%;
}
.arrow-steps{
  height: 55px;
  width: 55px;
}
.pink-arrow{
  width: 70%;
}
.process-para-bold{
  font-weight: bold;
  width:100%;
  margin-top: 15px;
}
.separatorr{
  display: flex;
  width: 85vw;
  margin:0 auto;
  padding: 15px 0px 15px 0px;
  align-items: center;
}
.separatorr h2{
  padding: 0 2rem; 
}
.separatorr .linee{
  flex: 1;
  border:1px solid black;
}

/*media Queries min: 922 max 1199.98 */
@media (min-device-width: 992px) and (max-device-width:1199.98px){
  .steps-to-order{
    background: orange;
  }
}