.main-login-box{
    min-height: 93vh;
    background: #d7ecffd0;
    display: flex;
    align-items: center;
}
.box-of-login{
    background: red;
    width: 600px;
    margin: 0 auto;
    padding:20px;
    border-radius: 10px;
    background:  #3c72a3;
    border: 1px solid black;
}
.forgot-pw{
    width: 490px;
    margin: 0 auto;
    text-align: end;
}
