.main-gallery-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
}
.box-gallery-name-div{
    padding: 10px;
    background: rgba(218, 215, 219, 0.911);
    width: 50%;
    margin: 0 auto;
    font-size: 30px;
    color:black;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 25px;
}
.card-container{
    border: 2px solid black;
    border-radius: 25px;
    width: 24%;
    height: 600px;
    margin: 0 auto;
    margin-bottom: 15px;
    padding:10px;
}
.gallery-image{
    width: 400px;
    border: 2px solid black;
    border-radius: 25px;
}
.divider{
    background:pink ;
    height: 600px;
}
.name-title{
    font-size:25px;
}
.test{
    /* background: pink; */
    margin-top: 1vh;
    margin-bottom: 2vh;
}