.img-mainlogo-mobile{
    width:250px;
    margin: 0 auto;
    background: #3c72a3;
}
.bottom-footer-div-m{
    display: flex;
    justify-content: space-between;
    width: 85vw;
    margin: 0 auto;
}
.mobile-div-footer{
    background: #3c72a3;
}
.top-footer-div-m{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85vw;
    margin: 0 auto;
    /* background: #3c72a3; */
}
.copyrights{
    font-size: 10px;
    padding-top: 5px;
}
.link-letter-mobile{
    color: white;
}
.links-mobile{
    display: flex;
}
.mobile-mainlogo{
    width: 10%;
}
.mobile-logo-footer{
    width: 100%;
}