.img-mainlogo-mobile{
    width:250px;
    margin: 0 auto;
    background: #3c72a3;
}
<<<<<<< HEAD
.main-logo-footer-mobile{
    width: 100%;
}
.mission-mobile{
    padding: 20px;
=======
.bottom-footer-div{
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
}
.top-footer-div{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: #3c72a3;
}
.copyrights{
    font-size: 10px;
    padding-top: 5px;
}
.link-letter-mobile{
    color: white;
}
.links-mobile{
    display: flex;
}
.mobile-mainlogo{
    width: 10%;
}
.mobile-logo-footer{
    width: 100%;
>>>>>>> f289f7c1e731ac8d068bb9fcae7d29b71f93c73f
}