.nav-bar{
    display:flex;
    align-items:center;
    position: sticky;
    top: 0;
    margin: 0 auto;
    border-radius: 0;
    z-index: 99;
    /* border-color: transparent; */
    width: 100%;
    min-height:7vh;
    justify-content: space-evenly;
    /* background:rgba(250, 248, 248, 0.897); */
    background: #3c72a3;
    align-items: center;
    font-family:"SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.navlinks{
    padding-top: 10px;
}
.link{
    text-decoration: none;
    color: white;
}
.link:hover{
    color: pink;
}

/* 
testing if git working
*/

