.slideshow{
    height: 93vh;
    width: 70vw;
    font:"SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    /* box-shadow: 0 0 40px rgba(0,0,0,0.3); */
    /* box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.3); */
    /* border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px; */
}
.slide-box-div{
  /* border-bottom: 2px solid black; */
}


.carousel-control-next-icon, .carousel-control-prev-icon{
    display:none;
  }
  .carousel-indicators li { visibility: hidden; }
