.slide-div{
    width: 80vw;
    margin: 0 auto;
    display: flex;
    padding-bottom: 50px;
    padding-top: 50px;
    justify-content: space-between;
}
.slide-boxes{
    margin: 0 auto;
    padding: 20px;
}
.box-images{
    margin: 0 auto;
    width: 80%;
    border: 2px solid black;
    border-radius: 25px;
    box-shadow: 8px 8px 8px 4px rgba(0,0,0,0.3);
}
.slick-prev:before, .slick-next:before{
    color:#03529c;
    font-size: 25px;
}
@media (min-width:992px) and (max-width:1199.98px){
    .slide-div{
        padding-top: 0px;
    }
}
@media (min-width:768px) and (max-width:991.98px){
    .slide-div{
        padding-top: 0px;
        padding-bottom: 30px;
    }
    .box-images{
        width: 100%;
    }
}