.whywhy{
    display: flex;
    width: 85vw;
    margin: 0 auto;
    align-items: center;
    border-bottom: 3px solid black;
    margin-bottom: 20px;
    
}
.loyalty-program{
    width: 50%;
}
.five-percent-image{
    width: 50%;
}
.five-img{
    width: 100%;
}
.rewards-title{
    text-align: left;
    font-size: 34px;
    color:#3c72a3;
    font-weight: bold;
}
.rewards-buttons{
    display: flex;
}
.reward-button{
    margin-right: 10px;
    width: 160px;
    height: 40px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}
.reward-button:before{
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .4s ease-in-out;
    border-radius: 10px;
}
.reward-button:active{
    color: #000;
}
.flip-button:active:after{
    background: transparent;
}
.reward-button:hover:before{
    opacity: 1;
}

.reward-button::after{
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(36, 35, 35);
    left: 0;
    top: 0;
    border-radius: 10px;
}
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.para-rewards, .para-rewards-bold{
    font-size: 18px;
    text-align: left;
}
.para-rewards-bold{
    font-weight: bold;
}
.benefits-page{
    padding-top: 30px;
    padding-bottom: 100px;
    width: 85vw;
    margin: 0 auto;
    display: flex;
    
    justify-content: space-between;
    /* border-bottom: 3px solid black; */
}
.icon-divs{
    height: 200px;
    width: 200px;
}
.benefits-icons{
    width: 100%;
    height: 100%;
}
.program-benefits-title{
    width: 85vw;
    color: #3c72a3;
    text-align: left;
    font-weight: bold;
    margin: 0 auto;
}

@media (min-width:769px) and (max-width:1097.98px){
    .rewards-title{
        font-size: 25px;
        width: 100%;
        margin-top: -10px;
        margin-bottom: 10px;
    }
    .whywhy{
        width: 90vw;
    }
    .program-div{
        width: 100%;
    }
    .para-rewards, .para-rewards-bold{
        font-size: 15px;
        text-align: left;
        width: 100%;
    }
    .loyalty-program{
        width:40%;
        text-align: left;
    
    }
    .five-percent-image{
        width: 60%;
    }
    .rewards-buttons{
        width: 115%;
    }

}
@media (min-width:768px) and (max-width:991px){
    .icon-divs{
        width: 170px;
        height: 170px;
    }
}
@media (min-width:575px) and (max-width:768.98px){
    .whywhy{
        flex-direction: column-reverse;
        border: none;
        justify-content: left;
    }
    .loyalty-program{
        width:100%;
    }
    .program-div{
        width: 100%;
        padding: 0px;
    }
    .rewards-title{
        font-size: 25px;
        
        padding-top: 5px;
    }
    .rewards-buttons{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .reward-button{
        width: 100%;
        margin: 5px 0px 5px 0px;
    }
    .five-percent-image{
        width: 100%;
        border-bottom: 2px solid black;
    }
}
@media (min-width:575px) and (max-width:767.98px){
    .benefits-page{
        flex-wrap: wrap;
        padding-bottom: 0px;
    }
    .icon-info-div{
        width: 45%;
        height: 300px;
        margin: 5px;
    }
    .para-rewards-bold{
        width: 100%;
    }
    .icon-divs{
        margin: 0 auto;
    }

}
@media (min-width:481px) and (max-width:574.98px){
    .whywhy{
        flex-direction: column-reverse;
        width: 90vw;
        border: none;
        /* background: chocolate; */
        justify-content: left;
    }
    .five-percent-image{
        width: 100%;
        border-bottom: 2px solid black;
    }
    .loyalty-program{
        width: 100%;
    }
    .program-div{
        padding: 0px;
    }
    .rewards-title{
        font-size: 26px;
        text-align: left;
        padding-top: 10px;
    }
    .rewards-buttons{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .reward-button{
        width: 100%;
        margin: 5px 0px 5px 0px;
    }
    .icon-info-div{
        height: 285px;
    }
    .benefits-page{
        flex-wrap: wrap;
        width: 85vw;
        padding-bottom: 0px;
    }
    .icon-divs{
        margin: 0 auto;
        width: 180px;
        height: 180px;
    }
   
    .program-benefits-title{
        width: 90vw;
        margin: 0 auto;
        color:#3c72a3;
        font-weight: bold;
        text-align: left;
        font-size: 26px;
    }
  }
  @media screen and (max-width:480.98px){
    .whywhy{
      background: red;
        flex-direction: column-reverse;
        width: 90vw;
        border: none;
        /* background: chocolate; */
        justify-content: left;
    }
  }

